@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/Tema/assets/css/main.css" />
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			
			
			<!-- Posts -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row">
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="#" class="image left"><img src="/Tema/images/pic01.jpg" alt="" /></a>
									<div class="inner">
										<h3>Smile</h3>
										<p>Smile è il sesto album in studio della cantante statunitense Katy Perry, pubblicato il 28 agosto 2020 dalla Capitol Records.
											 parla di "trovare la luce alla fine del tunnel" e riprendersi il proprio sorriso.
											 Questo lavoro è frutto di un periodo buio che la cantante ha affrontato nel 2017, a causa di un apparente crollo della sua vita personale e lavorativa,
											 a seguito della temporanea rottura tra la cantante e l'attore Orlando Bloom e lo scarso successo che l'album Witness ha riscosso con la critica e con l'opinione pubblica,
											 portandola a soffrire di depressione e a maturare pensieri suicidi.
										</p>
									</div>
								</div>
							</section>
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="#" class="image left"><img src="/Tema/images/pic02.jpg" alt="" /></a>
									<div class="inner">
										<h3>Witness</h3>
										<p>Witness è il quinto album in studio della cantante statunitense Katy Perry, pubblicato il 9 giugno 2017 dalla Capitol Records.
											Katy ammise che l'album sarebbe stato «definitivamente una nuova era» per lei e «un'era di pop determinato» di cui è molto fiera.
											Parlando del concetto espresso dalla copertina dell'album, Perry ha detto «La musica mi ha permesso di viaggiare e ciò ha rieducato la mia mente e ha cambiato la mia prospettiva su tante cose,
											perciò la mia istruzione e la mia coscienza derivano dalla mia voce, ed è così che io vedo.
											È così che assisto a voi ed è così che voi assistete a me ed è per questo che l'occhio è nella bocca».
										</p>
									</div>
								</div>
							</section>
						</div>
						<div class="row">
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="#" class="image left"><img src="/Tema/images/pic03.jpg" alt="" /></a>
									<div class="inner">
										<h3>Prism</h3>
										<p>Prism è il quarto album in studio della cantante statunitense Katy Perry, pubblicato il 18 ottobre 2013 dalla Capitol Records.
										   Katy Perry ha rivelato a MTV News perché ha scelto Prism come titolo del suo nuovo album.
										   Katy Perry ha definito il suo lavoro come “un intreccio di colori” ed ha poi sottolineato di aver attraversato una fase cupa ma di aver preferito di gran lunga la luce all'oscurità.
										   Da qui il nome Prism, perché il prisma è la figura che riflette la luce lasciandosi completamente attraversare da questa per poi riproporla all'esterno, modificandone la traiettoria e i colori.
										</p>
									</div>
								</div>
							</section>
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="#" class="image left"><img src="/Tema/images/pic04.jpg" alt="" /></a>
									<div class="inner">
										<h3>Teenage Dream</h3>
										<p>Teenage Dream è il terzo album in studio della cantautrice statunitense Katy Perry, pubblicato negli Stati Uniti il 24 agosto 2010 e il 30 agosto successivo nel resto del mondo dalla Capitol Records.
										   Teenage Dream è stato nominato ai 53° Grammy Awards come Album dell'anno e miglior album pop. Il singolo di lancio, California Gurls ha ricevuto una nomina come Miglior collaborazione pop vocale mentre il secondo singolo,
										   Teenage Dream ne ha guadagnata una per la miglior esibizione pop femminile. Firework è stato invece nominato nelle categorie "Record of the Year" e "Best Pop Solo Performance" nell'edizione del 2012.
                                           L'album si è posizionato alla posizione numero 10 della lista stilata da Billboard a luglio 2011 degli album più venduti negli Stati Uniti nella prima parte dell'anno, con 600.000 copie.	
										</p>
									</div>
								</div>
							</section>
						</div>
					</div>
				</section>

	
	</body>
</html>